.user-list-container {
  display: flex;
  justify-content: space-between;
}

.users-container {
  width: 40%;
  background: #fff;
  padding: 22px 0;
  border-radius: 8px;
}

.users-container .header {
  padding: 0 22px;
}

.cus-mb {
  margin-bottom: 20px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
  padding: 10px 22px;
  border-bottom: 1px solid #f1f3f9;
}

.user:hover {
  background: #f7f7fc;
  border-right: 3px solid #5570f1;
}

.active-chat {
  background: #f7f7fc;
  border-right: 3px solid #5570f1;
}

.user-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.user-name {
  font-size: 16px;
  margin: 0 0 8px 0;
  font-weight: 500;
  color: #45464e;
}

.user-message,
.user-date {
  margin: 0;
  font-size: 13px;
  color: #8b8d97;
  white-space: nowrap;
}

.time-stamp {
  display: flex;
  flex-direction: column;
}

.time-stamp span {
  padding: 3px 6px;
  background: #fef5ea;
  border-radius: 8px;
  margin: 0 0 8px 0;
}

.no-user-selected {
  text-align: center;
  font-size: 18px;
  color: #888;
}

.chats-container {
  width: 58%;
}

.chat {
  background-color: #fff;
  border-radius: 8px;
}

.chat-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 22px;
  border-bottom: 1px solid #f1f3f9;
}

.chat-head .profilepics {
  height: 60px;
  width: 60px;
  margin-right: 14px;
}

.user-status {
  margin-right: auto;
}

.user-status-right {
  display: flex;
  align-items: end;
  flex-direction: column;
}

.user-status-right a {
  font-size: 13px;
  padding: 0 0 12px 0 !important;
}

.user-status-right p {
  font-size: 13px;
  margin: 4px 0 0 0;
}

.user-status h4 {
  margin: 0 0 6px 0;
  font-size: 13px;
  color: #45464e;
}

.user-status p {
  font-size: 13px;
}

.bpoint {
  width: 12px;
  height: 12px;
  background: #5570f1;
  display: inline-block;
  border-radius: 50%;
  margin-right: 8px;
}

.bannerOne {
  padding: 3px 6px;
  font-size: 13px;
  border-radius: 8px;
  background: #fef5ea;
  margin-right: 8px;
}
