.dash-layout {
  width: 65%;
}
.sectionOne {
  width: 48.4%;
  margin-bottom: 20px;
}

.sectionTwo {
  width: 100%;
  margin-bottom: 20px;
}

.orders-view {
  width: 33%;
}

.viewTop {
  margin-bottom: 20px;
}
