.dash-layout {
  width: 65%;
}
.sectionOne {
  width: 48.4%;
  margin-bottom: 20px;
}

.sectionTwo {
  width: 100%;
  margin-bottom: 20px;
}

.orders-view {
  width: 33%;
}

.viewTop {
  margin-bottom: 20px;
}

@media (600px <= width <= 900px) {
  .dash-layout {
    width: 100%;
  }
  .sectionOne {
    width: 100%;
    margin-bottom: 20px;
  }

  .sectionTwo {
    width: 100%;
    margin-bottom: 20px;
  }

  .orders-view {
    width: 100%;
  }

  .viewTop {
    margin-bottom: 20px;
  }
}

@media (width <= 600px) {
  .dash-layout {
    width: 100%;
  }
  .sectionOne {
    width: 100%;
    margin-bottom: 20px;
  }

  .sectionTwo {
    width: 100%;
    margin-bottom: 20px;
  }

  .orders-view {
    width: 100%;
  }

  .viewTop {
    margin-bottom: 20px;
  }
}
