.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  border-radius: 8px;
  border: none;
  padding: 6px;
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  cursor: pointer;
}

.dropdown-icon {
  height: 20px;
}

.dropdown-menu {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  font-weight: 400;
  font-size: 12px;
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
  z-index: 10;
  display: block;
  border-radius: 0 0px 8px 8px;
}

.dropdown-menu li {
  padding: 8px 10px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #ddd;
}
